/* WHEN NO SHOPS SHOWN*/

.message
{
	height: 25vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.shop-btn
{
	display: flex;
	justify-content: center;
	align-items: center;
  margin-top: 0px;
	height: 100%;
}
.shop-btn button
{
	height: 60px;
	width: 400px;
	font-size: 22px;
	border-radius: 15px;
	background : #169483;
	color: white;
	cursor: pointer;
	border: none;
}
.shop-btn button:hover
{
	background : #20A694;
}
.shop-btn button:focus
{
	outline : none;
}

/* WHEN SHOPS WILL BE SHOWN */
.buy-now-btn{

	border: 0.5px solid black;
	padding: 9px;
	border-radius: 10px;
}

.buy-now-btn:hover{
	background: black;
	color: white;
}

.wrapper
{
	display: flex;
	justify-content: center;
}
.allshops
{
	margin-top: 60px;
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 100px;
}
.shop-details
{
	display: flex;
	flex-direction: column;
	border: 1.5px solid #169483;
	width: 48%;
	height: 180px;
	margin-top: 10px;
	align-content: space-evenly;
	border-radius: 15px;
}
.shop-details:hover
{
	border : 1.5px solid #169483 ;
	background: #15B39C;
	color : white;
}

.shop-details div
{
	flex:1;
	align-items: center;
}
.shopname
{
	display: flex;
	flex-direction: flex-start;
	justify-content: space-between;
	margin: 0px 10px;
}
.shopname label:nth-child(1)
{
	font-size: 30px;
}
.shopname label:nth-child(2) a
{
	font-size: 25px;
	color : red;
}

.shoptype label:nth-child(1)
{
	font-size: 20px;
}

.shopname label a
{
	font-size: 15px;
}

.view label:nth-child(1)
{
	font-size: 20px;
}

.seller-name{
  font-family: inherit;
}
.shoptype
{
	display: flex;
	justify-content: space-between;
	margin: 0px 10px;
	font-size: 25px;
}
.view
{
	display: flex;
	justify-content: space-between;
}
.view a
{
	margin: 0px 10px;
	font-size: 20px;
}
.view i:nth-child(1){
  font-size: 20px;
}
.view i:nth-child(2){
  font-size: 22px;
}
.view a:hover
{
	color: black;
}
.view span{
  display: block;
  font-size:15px;
  margin-left: 10px;
}
.info
{
	height: 100px;
}
