/*All CSS has been added associated with index.html page */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat' , sans-serif;
}

.section-title h4 {
	color: #bfbdbd;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-top: 0;
	font-weight: bold;

}

.site-header{
	width: 100%;
	background: linear-gradient(57deg, rgba(255, 255, 255,1), rgba(0, 198, 167 ,1), rgba(30, 77, 146 ,1));
	clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 0% 100%);
}

a{
	text-decoration: none;
}

nav{
	width: 100%;
	height: 100px;
	display: flex;
}

.logo{
	width: 50%;
	height: 100px;
}

.logo img{
	line-height: 100px;
	padding:25px 0px 0px 50px;
}

.menu {
	width: 50%;
	height: 100px;
}

.menu ul {
	width: 100%;
	height: 100px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.menu ul li{
	list-style: none;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
}

section {
	display: flex;
}

.leftside{
	width: 50%;
	height: auto;
	overflow: hidden;
	margin-top: 10px
}

.leftside img{
	width: 300px;
	height: 500px;
}

#google_translate_element{
	float: right;
	padding-top:36px;
}

/** -- from : https://bbbootstrap.com/snippets/awesome-app-store-buttons-32348296 */

.mdi-36px {
		font-size: 39px;
		margin-right: 10px
}

.container {
		margin-top: 70px
}
/* End */

.rightside{
	width: 125%;
	height: 200px;
	color: white;
	text-align: center;
	margin-top: 0px;
	padding: 40px;
}

.rightside h1{
	font-size: 50px;
	font-weight: 400;
	text-transform: uppercase;
}

.rightside p{
	font-size: 1.1rem;
	padding: 30px 0;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: rgb(51,51,51);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 15px;
  width: 170px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button-top {
  display: inline-block;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
  border-radius: 20px;
  background-color: rgb(51,51,51);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 15px;
  width: 190px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 20px;
	float: right;
}

.button-top span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button-top span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button-top:hover span {
  padding-right: 25px;
}

.button-top:hover span:after {
  opacity: 1;
  right: 0;
}
/*---------------------------------------
ABOUT
-----------------------------------------*/

#about {
	padding-bottom: 0;
}

.about-info {
	padding: 0 6em 5em 0;
}

.about-info .section-title {
	padding-bottom: 20px;
}

.about-image {
	position: absolute;
}

.main_content{
	width: 80%;
	margin: 30px auto;
}

.filter_content{
	width: 20%;
	float: left;
	padding: 30px;
	font-family: 'Montserrat' , sans-serif;
	border:1px solid #ddd;
	margin-top: 30px;
}

.filter_list:hover {
	box-shadow: 0 0 15px 5px rgba(39,43,55,0.15)
}

.filter_list{
	margin: 0;
	padding: 0;
	text-align: center;
}

.filter_content h2{
	text-align: center;
}

.filter_list li{
	list-style: none;
	padding: 10px;
}

.shop_container{
	width: 50%;
	float: right;
	padding: 30px;
}

.search-bar input{
	width: 900px;
	height: 50px;
}

.search-bar {
	display: flex;
}

.search-bar button{
	width: 50px;
	height: 50px;
	margin-left: 2px;
}

.clearfix{
	display: flex;
}

.shop_search_item{
	width:70%;
	margin-top: 40px;
	display: flex;
	flex-direction: row;
	margin: 20px;
}

.shop_image h3{
	font-family: 'Montserrat' , sans-serif;
	color: black;
}

 .shop_image a{
 	outline: none;
 	border:0;
 }

.shop_image img{
	border: 1.5px solid #3498db;
	border-radius: 5px;
	padding: 3px;
}

.shop_image img:hover{
	box-shadow: 0px 0px 4px 0px #3498db;
}

.maker{
	display: flex;
	justify-content: space-around;
}

.maken{
	margin: 25px;
}

.maken p{
	font-size: 24px;
	font-weight: bold;
	font-family: 'Roboto' , sans-serif;
}

.make_list{
	margin: 0;
	padding: 0;
	font-family: 'Roboto' , sans-serif;
}

.make_list li{
	list-style: none;
	padding: 10px;
}

.line{
	width: 80%;
	height: 1px;
	background: white;
	display: flex;
	margin-left: 140px;
}

.take{
	/* padding: 30px 30px 10px 30px; */
	text-align: center;
}

/* Google Translate*/
	.goog-te-banner-frame.skiptranslate {
    display: none !important;
    }
  body {
    top: 0px !important;
    }
