.order-details-popup
{
    height : 600px;
    position: absolute;
    transform: translate(-50%,-53%);
    width : 80%;
    top : 50%;
    left : 50%;
    border : 1.5px solid black;
    background: white;
    z-index: 3;
    display: ;
}
.scroll-window
{
    overflow : scroll;
    height: 550px;
}
.intro
{
    display: flex;
    height: 45px;
    justify-content: space-between;
    padding:0px 5px;
    background: #3498db;
    align-items: center;
    color : white;
    width: 100%;
}
#print-btn
{
    border : 0.5px solid white;
    padding: 5px;
    width: 80px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}
#print-btn:hover
{
    border : 0.5px solid black;
    background: black;
}
.buyer-info
{
    display: flex;
    flex-direction: row;
}
.left-info
{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.right-info
{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.shop-name-order-id
{
    display: flex;
    justify-content: space-between;
    font-size: 19px;
}
.shop-name-order-id label
{
    padding:0px 10px;
}
.order-info
{
    display: flex;
    flex-direction: row;

}
.order-info label
{
    padding-left : 25px;
}
.line-container
{
    display: flex;
    justify-content: center;
}
.line
{
    height: 1.5px;
    background: #bdc3c7;
    margin: 10px 0px;
    width:90%;
}
.order-pad
{
    height: 10px;
}
.heading
{
    font-weight: 700;
}
.popup-table-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.popup-table-container label
{
    align-self: flex-start;
    padding-left: 25px;
}
.popup-table-container table
{
	border: 1px solid #ddd;
	width:97%;
	border-collapse: collapse;
	box-shadow: 0px 0px 3px 0px black;
	font-family: 'Roboto',sans-serif;

}
.popup-table-container table td,.popup-table-container table th 
{
	border: 1px solid #ddd;
}
.popup-table-container table td
{
	padding: 8px;
	text-align: center;
}
.popup-table-container table th
{
	padding: 8px 15px;
	background: rgba(30, 77, 146 ,0.3);
}
.popup-table-container table tr:nth-child(even)
{
	background: #f2f2f2;
}
.accept-reject-btn-container
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 10px;
}
.accept-btn
{
    border : 2px solid #2ecc71;
    cursor: pointer;
    height: 35px;
    width: 200px;
}
.accept-btn:hover
{
    background: #2ecc71;
    color: white;
}
.accept-btn:focus
{
    outline: none;
}
.reject-btn
{
    border : 2px solid #e74c3c;
    cursor: pointer;
    width: 200px;
    height: 35px;
}
.reject-btn:hover
{
    background: #e74c3c;
    color: white;
}
.reject-btn:focus
{
    outline: none;
}
.close-icon-container
{
    width: 100%;
}
.close-icon
{
    position : absolute;
    right : -30px;
    top : -5px;
    cursor: pointer;
}
.close-icon:hover
{
    color: #e74c3c;
}

.order-list-container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.order-list-container table
{
	border: 1px solid #ddd;
	width: 97%;
	border-collapse: collapse;
	box-shadow: 0px 0px 3px 0px black;
	margin-top: 10px;
	margin-bottom: 20px;
	font-family: 'Roboto',sans-serif;

}
.order-list-container table td,.order-list-container table th 
{
	border: 1px solid #ddd;
}
.order-list-container table td
{
	padding: 8px;
	text-align: center;
}
.order-list-container table th
{
	padding: 8px 15px;
	background: rgba(30, 77, 146 ,0.3);
}
.order-list-container table tr:nth-child(even)
{
	background: #f2f2f2;
}
.banner
{
    height: 300px;
    display: flex;
    background: #f5f6fa;
}
.left-banner
{
	display: flex;
	flex: 1;
	align-items: flex-start;
	justify-content: center;
	padding: 20px;
    flex-direction: column;
}
.right-banner
{
	display: flex;
	flex : 0.7;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: row;
    align-items: center;
}
.right-banner div
{
    display: flex;
    flex : 1;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    align-content: center;
}
.right-banner div img
{
    height: 250px;
}