/* Assosciated with all products list page */

.wrapper
{
	display: flex;
	flex-direction: column;
}
.product
{
	display: flex;
	border : 0.5px solid black;
	border-radius: 10px;
	padding: 15px;
	margin : 5px;
	width: 98%;
	justify-content: space-evenly;
	align-items: center;
	position: relative;
}
.options
{
	margin : 2px 0px;
	display: none;
}
.options select
{
	height: 30px;
}
.option-input-style
{
	width: 100px;
	height: 30px;
}
.add-icon
{
	font-size: 20px;
	cursor: pointer;
	margin-right:  5px;
}
.minus-icon
{
	font-size: 20px;
	cursor: pointer;
	display: none;

}
.minus-icon:hover
{
	color: #e74c3c;
}
.add-icon:hover
{
	color: #2ecc71;
}
#add-items-btn
{
	border-radius: 5px;
	height: 40px;
	border : 2px solid #169483;
	cursor: pointer;
}
#add-items-btn:hover
{
	background: #169483;
	color: white;
}
#add-items-btn:focus
{
	outline: none;
}
.thumbnail img
{
	width: 100px;
	height: 100px;
}
.pro-name
{
	width : 200px;
}
.pro-brand
{
	width: 100px;
}
.message
{
	height: 60vh; 
	display: flex; 
	justify-content: center;
	align-items: center;
	font-size: 35px;
}
.page-info
{
	display: flex;
	justify-content: space-between; 
	position: fixed;
	z-index: 1;
	height: 40px;
	background:linear-gradient(57deg, rgba(26, 66, 127 ,0.8), rgba(0, 153, 130 ,0.8), rgba(51, 51, 51 ,0.8));
	color : white;
	width: 100%;
	align-items: center;
	margin-top: 50px;
}
.page-info h4
{
	margin-left: 15px;
	margin-right: 20px;
}
.page-info h4:nth-child(2) 
{
	display: flex;
	justify-content : center;
	align-items: center;
}
form
{
	margin-top: 95px;
}
.product-message
{
	position: absolute;
	height: 35px;
	width : 50px;
	background: green;
	color : white;
	font-size : 10px;
	top : 0;
	right : 10px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

