.wrapper
{
	display: flex;
	justify-content: center;
}
.allshops
{
	margin-top: 20px;
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 100px;
}
.shop-details
{
	display: flex;
	flex-direction: column;
	border: 2px solid black;
	width: 48%;
	height: 150px;
	margin-top: 10px;
	align-content: space-evenly;
	border-radius: 15px;
}
.shop-details div
{	
	flex:1;
	align-items: center;
}
.shopname
{
	display: flex;
	flex-direction: flex-start;
	margin: 0px 10px;
	font-size: 25px;
}
.shoptype
{
	display: flex;
	justify-content: flex-end;
	margin: 0px 10px;
	font-size: 25px;
}
.view
{
	display: flex;
	justify-content: space-between;
}
.view a
{
	margin: 0px 10px;
	font-size: 20px;
}
.view a:hover
{
	color: #3498db;
}